<div class="w-48 h-11 relative">
  <div class="w-48 h-11 left-0 top-0 absolute bg-zinc-900 rounded-[10px]"></div>
  <div
    class="left-[32px] top-[11px] absolute text-neutral-200 text-lg font-bold font-['Lexend']"
  >
    Get Templates
  </div>
</div>
