---
import CTA from './CTA.astro';
---

<div class="w-full h-11 px-32 justify-end items-center gap-8 inline-flex">
  <div class="w-[340px] h-[22px] justify-center items-center gap-8 flex">
    <div class="text-neutral-800 text-lg font-bold font-['Lexend']">Home</div>
    <div class="text-neutral-800 text-lg font-bold font-['Lexend']">
      Projects
    </div>
    <div class="text-neutral-800 text-lg font-bold font-['Lexend']">About</div>
    <div class="text-neutral-800 text-lg font-bold font-['Lexend']">
      Contact
    </div>
  </div>
  <CTA />
</div>
