---
let { id, color, imgSource, link } = Astro.props
---
<a href={link}>
  <div class={`w-full sm:w-[545px] h-[600px] rounded-md bg-neutral-600 `} style={`background:url('${imgSource}'); background-size: cover; `}  id={`project-card-${id}`}/>
</a>
