<section class="p-[30px] h-[235px] w-full flex flex-col items-center relative bg-black">
  <img class="rounded-full w-[90px] h-[90px]" src="" alt="" />
  <div class="absolute w-[15px] h-[15px] rounded-full"></div>
  <span class="mb-[10px] text-[14px] text-[#fafafc]">Marcos Quiroga</span>
  <span class="text-[11px] text-[#8c8c8e]">Frontend Developer</span>
</section>
