<section class="px-[15px]">
  <div class="py-[15px]">
    <div class="flex justify-between">
      <h6 class="text-[12px] text-[#fafafc]">Residencia:</h6>
      <span class="text-[12px] text-[#8c8c8e]">Argentina</span>
    </div>
    <div class="flex justify-between">
      <h6 class="text-[12px] text-[#fafafc]">Ciudad:</h6>
      <span class="text-[12px] text-[#8c8c8e]">Mendoza</span>
    </div>
    <div class="flex justify-between">
      <h6 class="text-[12px] text-[#fafafc]">Edad:</h6>
      <span class="text-[12px] text-[#8c8c8e]">22</span>
    </div>
  </div>
  <hr class="bg-[#686866]" />
  <ul class="pt-[15px] mb-[16px] flex flex-col text-[#8c8c8e] text-[12px]">
    <li class="mb-[5px]">Aprendizaje Constante</li>
    <li class="mb-[5px]">Aprendiendo Astro</li>
    <li class="mb-[5px]">Autodidacta</li>
    <li>Manejo de Git</li>
  </ul>
  <hr class="text-[#686866]" />
  <button class="py-[15px] text-[12px] w-full text-left">DESCARGAR CV</button>
</section>
