---
import './App.css'
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body class="w-full h-screen flex flex-col justify-center relative" id="app">
    <div class="w-[1347px] h-[589.50px] absolute">
      <div
        class="sm:w-[387.75px] sm:h-[516px] sm:left-[331.50px] sm:top-[16.50px] w-[247.14px] h-[328.88px] left-[130px] top-[375px]  absolute bg-slate-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[387.75px] sm:h-[516px] sm:left-0 sm:top-[73.50px] w-[247px] h-[415px] left-[-75px] -top-32 absolute bg-slate-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[387.75px] sm:h-[516px] sm:left-[824.25px] sm:top-0 w-[247.14px] h-[328.88px] left-[450.30px] top-[-34.90px] absolute bg-slate-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[299.25px] sm:h-[275.25px] sm:left-[525px] sm:top-[211.50px] w-[190.73px] h-[175.44px] left-[255.57px] top-[-20px] absolute bg-red-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[367.50px] sm:h-[275.25px] sm:left-[979.50px] sm:top-[73.50px] w-[234.23px] h-[175.44px] left-[549.25px] top-[11.95px] absolute bg-red-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[367.50px] sm:h-[275.25px] sm:left-[786px] sm:top-[220.50px] w-[234.23px] h-[175.44px] left-[425.92px] top-[105.64px] absolute bg-red-600 bg-opacity-40 rounded-full"
      >
      </div>
      <div
        class="sm:w-[299.25px] sm:h-[275.25px] sm:left-[525px] sm:top-[211.50px] w-[234.23px] h-[175.44px] left-[205.92px] top-[185.64px] absolute bg-red-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[187.50px] sm:h-[186px] sm:left-[294px] sm:top-[274.50px] w-[119.51px] h-[118.55px] left-[155px] top-[-148px] absolute bg-red-600 rounded-full"
      >
      </div>
      <div
        class="sm:w-[299.25px] sm:h-[275.25px] sm:left-[587.25px] sm:top-[274.50px] w-[190.73px] h-[175.44px] left-[-19px] top-[297px] absolute bg-orange-600 rounded-full"
      >
      </div>
    </div>
    <slot />
  </body>
</html>
